{% extends "base1.html" %}

{% block title %}Classement{% endblock %}
{% load static %}
{% block content %}

<h1>CLASSEMENT</h1>

<div class="container">
    {% for group in team_groups %}
    <table class="table table-hover">
        <caption>{{group}}</caption>
        <thead>
            <th scope="col"></th>
            <th scope="col">MJ</th>
            <th scope="col">V</th>
            <th scope="col">N</th>
            <th scope="col">D</th>
            <th scope="col">BM</th>
            <th scope="col">BE</th>
            <th scope="col">DB</th>
            <th scope="col">Pts</th>
        </thead>
        {% for team in group.teams.all %}
        <tbody>
            <tr>
            <th scope="row">
               <a href="{% url 'view_team' team.id %}">
                  <img src="{{ team.get_flag }}"> {{ team }}
               </a>
            </th>
            <td>{{ team.match_played }}</td>
            <td>{{ team.won }}</td>
            <td>{{ team.draw }}</td>
            <td>{{ team.lost }}</td>
            <td>{{ team.goal_for }}</td>
            <td>{{ team.goal_against }}</td>
            <td>{{ team.goal_diff }}</td>
            <td>{{ team.points }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endfor %}  
</div>

<footer id="footer" class="footer">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="full">
                <div class="footer-widget">
                   <div class="footer-logo">
                      <a href="#"><img src="{% static 'images/footer-logo.png' %}" alt="#" /></a>
                   </div>
                   <p>Most of our events have hard and easy route choices as we are always keen to encourage new riders.</p>
                   <ul class="social-icons style-4 pull-left">
                      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                      <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-2">
             <div class="full">
                <div class="footer-widget">
                   <h3>Menu</h3>
                   <ul class="footer-menu">
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="team.html">Our Team</a></li>
                      <li><a href="news.html">Latest News</a></li>
                      <li><a href="matche.html">Recent Matchs</a></li>
                      <li><a href="blog.html">Our Blog</a></li>
                      <li><a href="contact.html">Contact Us</a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="full">
                <div class="footer-widget">
                   <h3>Contact us</h3>
                   <ul class="address-list">
                      <li><i class="fa fa-map-marker"></i> Lorem Ipsum is simply dummy text of the printing..</li>
                      <li><i class="fa fa-phone"></i> 123 456 7890</li>
                      <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> demo@gmail.com</li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-3">
             <div class="full">
                <div class="contact-footer">
                   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d120615.72236587871!2d73.07890527988283!3d19.140910987164396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1527759905404" width="600" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <p>Copyright © 2018 Distributor: <a href="https://themewagon.com/" target="_blank">ThemWagon</a></p>
       </div>
    </div>
 </footer>
 <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
 <!-- ALL JS FILES -->
 <script src="{% static 'js/all.js' %}"></script>
 <!-- ALL PLUGINS -->
 <script src="{% static 'js/custom.js' %}"></script>

{% endblock %} 